@import _colors
    
*
    margin: 0
    padding: 0
    font-family: 'Exo 2', sans-serif
    user-select: none

body
    background: $background
    color: $accent
    overflow: hidden

.view
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh

h2
    font-size: 3em

.out
    box-shadow: 12px 12px 16px 0 $backgroundShadow, -8px -8px 12px 0 $backgroundLight

.upload

    .upload
        width: 20vh
        height: 20vh
        background: $background
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: $accent
        outline: none
        border: none
        cursor: pointer
        border-radius: 1vh
        transition: .5s

        &.out
            img
                opacity: 1

        img
            width: 100%
            height: 100%
            transition: .5s
            transition-delay: .5s
            opacity: 0

    h2
        position: absolute
        top: 25vh
        left: 50%
        transform: translateX(-50%)
        opacity: 1
        transition: .5s

    input
        position: absolute
        top: -100%
        left: -100%

.settings
    opacity: 0
    transition: .5s

    .spinner
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)
        width: 30vh
        height: 30vh
        border-radius: 15vh
        font-size: 5em
        text-align: center
        line-height: 30vh
        cursor: pointer

    svg
        position: absolute
        transform: translate(-50%, -50%)
        top: 50%
        left: 50%
        width: 30vh
        height: 30vh

        path
            transition: .2s

    .top
        position: absolute
        top: 10vh
        left: 50%
        transform: translateX(-50%)
    
    .bottom
        position: absolute
        bottom: 30vh
        left: 50%
        transform: translateX(-50%)

    .start
        background: $background
        position: absolute
        bottom: 10vh
        left: 50%
        transform: translateX(-50%)
        color: $accent
        outline: none
        border: none
        cursor: pointer
        border-radius: .5vh
        transition: .5s
        padding: .4em 4em
        font-size: 2em

.teaching
    transition: .5s
    opacity: 0

    h2
        opacity: 0
        transition: .5s
        position: absolute
        top: 15vh
        left: 50%
        transform: translateX(-50%)

    svg
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 40vh
    
        @keyframes pulse 
            0% 
                fill: $background
            50%
                fill: $accent
            100%
                fill: $background

        &.pulseSpace

            #space
                animation: 1s pulse infinite
        
        &.pulseArrows

            #left, #right
                animation: 1s pulse infinite

.proccess
    opacity: 0
    transition: .5s

    .display
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition: .2s
        opacity: 1
        height: 65vh
        width: auto
        
        &.horizontal
            width: 65vh
            height: auto

        &.hidden
            opacity: 0

    .progress
        height: .3vh
        position: absolute
        top: 0
        left: 0
        transition: 1s
        background: $accent
    
    .dot
        position: absolute
        top: 1.5vh
        left: calc(50vw - 0.05vh)
        width: 2vh
        height: 2vh
        background: $accent
        transition: .4s
        transform-origin: 0.15vh 48.8vh
        border-radius: 1vh
        box-shadow: inset 4px 4px 4px 0 $backgroundShadow, inset -4px -4px 4px 0 $backgroundLight

        &.active
            height: 2.5vh
            width: 2.5vh
            border-radius: 1.25vh

.result

    h2
        position: absolute
        top: 40vh
        left: 50%
        transform: translateX(-50%)

    button
        background: $background
        position: absolute
        top: 55vh
        left: 50%
        transform: translateX(-50%)
        color: $accent
        outline: none
        border: none
        cursor: pointer
        border-radius: .5vh
        transition: .5s
        padding: .4em 4em
        font-size: 2em